a {
    text-decoration: none;
    color: white;
  }
  
  a:hover,
  a:active {
    color: lightgrey;
  }
  
  .navigation-items{
    padding: 0;
    margin:0;
   list-style: none;
}

.nav-caption{
  display: inline-block;
  padding-left: 6px;
}